#mapDiv{
    display:grid;
    background-color: #3f1849;
    grid-template-columns: repeat(64,12px);
    grid-template-rows: repeat(64,12px);
    gap: 0px;
    width:fit-content;
    font-size: 10px;
   
}
.cell{
    border:1px solid black;
}
body{
    background-color:rgb(58, 41, 41)
}